/* src/styles/index.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/background/purple.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.counter-container {
  position: absolute;
  top: 40px;
  left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  color: white;
  font-size: 20px;
  right: 15px;
  font-weight: bold;
  user-select: none;
}

.donation-container {
  position: absolute;
  top: 40px;
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation {
  position: absolute;
  color: white;
  font-size: 20px;
  right: 15px;
  font-weight: bold;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.planet-hp-container {
  position: absolute;
  top: 50px;
  center: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 170px; /* Adjust as needed */
  height: 170px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-hp {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 68px;
  font-weight: bold;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.progress-bar-container {
  width: 92%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 18px;
}

.progress-bar {
  height: 100%;
  background-color: red;
  width: 0;
  transition: width 0.3s ease;
}


.user-id {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */ 
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.planet {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: fixed;
  -webkit-tap-highlight-color: transparent; /* Removing selection on mobile devices */
  transition: transform 0.2s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(-20px);
  -webkit-user-select: none;
}

.planet:active {
  transform: translate(-50%, -50%) translateY(-20px) scale(0.9); /* Merging transformations */
}

.orientation-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  pointer-events: all; /* To block interaction with main content */
}

.orientation-warning div {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}
.tool1-upgrade,
.tool2-upgrade,
.tool3-upgrade,
.test-button,
.menu-button,
.tool1-button,
.tool2-button,
.tool3-button,
.auto-button,
.shop-button,
.gift-button,
.clans-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
  transition: transform 0.1s ease; /* Smooth transition for the scaling effect */
  -webkit-tap-highlight-color: transparent; /* Removing selection on mobile devices */
  -webkit-user-select: none;
}

.menu-button {
  top: 10px;
  left: 10px;
}

.shop-button {
  left: 105px;
  top: 10px;
}

.gift-button {
  right: 105px;
  top: 10px;
}

.clans-button {
  right: 10px;
  top: 10px;
}

.auto-button {
  width: 90px;
  height: 50px;
  right: 10px;
  bottom: 130px;
}

.tool1-button {
  width: 80px;
  height: 80px;
  left: 40px;
  bottom: 30px;
}

.tool2-button {
  width: 80px;
  height: 80px;
  center: 10px;
  bottom: 30px;
}

.tool3-button {
  width: 80px;
  height: 80px;
  right: 40px;
  bottom: 30px;
}

.tool1-upgrade {
  right: 10px;
  bottom: 50px;
}

.tool2-upgrade {
  right: 10px;
  bottom: 50px;
}

.tool3-upgrade {
  right: 10px;
  bottom: 50px;
}

.test-button {
  width: 30px;
  height: 30px;
  left: 10px;
  opacity: 0.0;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.test-button:hover {
  opacity: 0.8; /* Меняет прозрачность при наведении */
}

.tool1-button:active,
.tool2-button:active,
.tool3-button:active,
.auto-button:active,
.shop-button:active,
.gift-button:active,
.clans-button:active {
  transform: scale(0.9); /* Scale down the button when it is active (clicked) */
}

.menu-button.hidden {
  opacity: 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1000; /* Ensure the menu is above other elements */
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.menu img {
  width: 165px; /* Adjust as needed */
  height: auto;
}

.menu.visible {
  display: block; /* Show when menu is open */
}

.menu.hidden {
  display: none; /* Hide when menu is closed */
}

 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
  transition: transform 0.1s ease; /* Smooth transition for the scaling effect */
  -webkit-tap-highlight-color: transparent; /* Removing selection on mobile devices */
  -webkit-user-select: none;
}

.voice-toggle,
.connect-twitter,
.connect-wallet {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
  transition: transform 0.1s ease; /* Smooth transition for the scaling effect */
  -webkit-tap-highlight-color: transparent; /* Removing selection on mobile devices */
  -webkit-user-select: none;
}

.voice-toggle {
  top: 75px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.connect-twitter {
  top: 120px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.connect-wallet {
  top: 165px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.voice-toggle:active,
.connect-twitter:active,
.connect-wallet:active {
  transform: scale(0.9); /* Scale down the button when it is active (clicked) */
}

/* Медиа-запросы для экранов высотой от 481 до 767 пикселей */
@media only screen  and (max-height: 481px) {
  .planet {
    width: 150px;
    height: 150px;
  }
  .shop-button {
    left: 90px;
    top: 10px;
  }

  .gift-button {
    right: 90px;
    top: 10px;
  }
  .tool1-button {
    left: 20px;
    bottom: 30px;
  }

  .tool2-button {
    center: 10px;
    bottom: 30px;
  }

  .tool3-button {
    right: 20px;
    bottom: 30px;
  }

  .planet-hp-container {
    top: 55px;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }

  .planet-hp {
    font-size: 15px;
    top: 60px;
  }
  .progress-bar-container {
    width: 92%;
    height: 10px;
    margin-top: 15px;
  }
}
