/* src/styles/index.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/background/purple.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.counter-container {
  position: absolute;
  top: -30px;
  right: 10px;
  background-image: url('/src/assets/resourse_rare.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  color: white;
  font-size: 20px;
  right: 15px;
  font-weight: bold;
  user-select: none;
}

.level-container {
  position: absolute;
  top: 10px;
  center: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.level {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  user-select: none;
}

.progress-bar-container {
  width: 93%;
  height: 15px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -25px;
}

.progress-bar {
  height: 100%;
  background-color: green;
  width: 0;
  transition: width 0.3s ease;
}


.user-id {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */ 
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.planet {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: fixed;
  -webkit-tap-highlight-color: transparent; /* Removing selection on mobile devices */
  transition: transform 0.2s;
}

.planet:active {
  transform: scale(0.9);
}

.orientation-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  pointer-events: all; /* To block interaction with main content */
}

.orientation-warning div {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
}

.tool1-button,
.tool2-button,
.tool3-button,
.auto-button,
.shop-button,
.gift-button,
.clans-button {
  position: absolute;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
  transition: transform 0.1s ease; /* Smooth transition for the scaling effect */
}

.shop-button {
  left: 85px;
  top: 10px;
}

.gift-button {
  left: 160px;
  top: 10px;
}

.clans-button {
  left: 235px;
  top: 10px;
}

.auto-button {
  right: 10px;
  bottom: 20px;
}

.tool1-button {
  width: 80px;
  height: 80px;
  left: 90px;
  bottom: 30px;
}

.tool2-button {
  width: 80px;
  height: 80px;
  center: 10px;
  bottom: 30px;
}

.tool3-button {
  width: 80px;
  height: 80px;
  right: 90px;
  bottom: 30px;
}

.tool1-button:active,
.tool2-button:active,
.tool3-button:active,
.auto-button:active,
.shop-button:active,
.gift-button:active,
.clans-button:active {
  transform: scale(0.9); /* Scale down the button when it is active (clicked) */
}

.menu-button.hidden {
  opacity: 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure the menu is above other elements */
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.menu img {
  width: 165px; /* Adjust as needed */
  height: auto;
}


.voice-toggle,
.connect-twitter,
.connect-wallet {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
  transition: transform 0.1s ease; /* Smooth transition for the scaling effect */
}

.voice-toggle {
  top: 75px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.connect-twitter {
  top: 120px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.connect-wallet {
  top: 165px;
  left: 2px;
  width: 160px;
  height: 50px;
}

.voice-toggle:active,
.connect-twitter:active,
.connect-wallet:active {
  transform: scale(0.9); /* Scale down the button when it is active (clicked) */
}
